<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../indexstyle.css">
</head>
<body>

<header>

  <nav>

<h1>UniSync</h1>


  </nav>


</header>

<div class="main">

<div class="content">


   <div id="loginForm" class="login-form">
      <h2>Login as  <span id="sp1">Admin</span></h2>
      <div class="error" id="errorMsg">Please fill all fields</div>

      <form action="/login" method="POST">
      <input type="email" id="email" name="email" placeholder="Email">
      <input type="password" id="password" name="password" placeholder="Password">
      <button type="submit" class="login-btn" >Login</button>
      </form>
      

</div>




</div>

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  

<script src="../../gsap.js"></script>
</body>
</html>