/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: #f5f6fa;

}

.main{
  height: 80vh;
  width: 100%;
  top: 0;
  position: absolute;
  background: url(../8655.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

  


/* LOGIN WRAPPER */
.content {
  width: 500px;
  height: 400px;
  padding: 40px 35px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  animation: fadeIn 0.5s ease;
}

/* HEADING */
.login-form h2 {
  font-size: 35px;
  font-weight: 600;
  color: #222;
  margin-bottom: 10px;
}

.login-form h2 span {
  color: #4B7BEC;
  font-weight: 700;
}

/* INPUTS */
.login-form input {
  width: 100%;
  padding: 14px;
  
  margin-top: 30px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #4B7BEC;
  box-shadow: 0 0 0 3px rgba(75,123,236,0.15);
  outline: none;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  background:#35354a;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 60px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-btn:hover {
  background: #35354a;
}

/* ERROR */
.error {
  font-size: 14px;
  color: red;
  margin-bottom: 8px;
  display: none;
}

/* ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


h2 span{


position: absolute;
opacity: 1;
margin-left: 10px;




}


header{

width: 100%;
height: 70px;
background: #ffffff;
display: flex;
justify-content: left;
align-items: center;
position: relative;



}

header nav h1{

margin-left: 20px;
display: inline-block;
border: 1px solid black;
padding: 10px;

  
}